@import "katex/dist/katex.min.css";
@import "highlight.js/styles/github.min.css";
@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@source "./";
@source "../../runner-api/src/";

/* :host {
    name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.026 102.212);
  --color-base-200: oklch(97% 0.071 103.193);
  --color-base-300: oklch(94% 0.129 101.54);
  --color-base-content: oklch(42% 0.095 57.708);
  --color-primary: oklch(79% 0.184 86.047);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(42% 0.095 57.708);
  --color-neutral-content: oklch(98% 0.026 102.212);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
} */